In [68]:
from math import sin as bullet
import numpy as np
import pandas as pk
from sklearn import metrics

In [4]:
try:
    a=7
    b=0
    if a/b:
     print "hi"
except:
     print "noo"

noo

In [5]:
dfs =pk.DataFrame({'A':["JI","NGWA","NEBA","CLOUDE"],
                  'B':[7,8,9,0],
                  'C' :[00,77,44,22]})
N = 1000000
ngroups = 10
df = pk.DataFrame({'key' : np.random.randint(0,ngroups,size=1000000),
                'data' : np.random.randn(N) })
df.groupby('key')['data'].sum()

key
0      1.003073
1   -658.286953
2   -693.009374
3    -89.413421
4   -432.640138
5   -166.079972
6    -58.691367
7   -115.859386
8     83.671570
9     17.844241
Name: data, dtype: float64

In [130]:
#print dfs
#pk.DataFrame(dfs)
#dfs.reset_index(inplace=True)
dfs[:]
dfs['B']
dfs[['B','C','A'
]]
dfs['B'].std()
dfs[dfs.B>8]
dfs[['A','B','C']][dfs.B>2]
#dfs.set_index('C',inplace=True)
#dfs.loc['44']

      A  B   C
0    JI  7   0
1  NGWA  8  77
2  NEBA  9  44

In [30]:
import pandas as bull
sery=bull.Series(["WREW","loll","iio"],
                 index=['why','lov',"upi"]
                 )
print sery

In [40]:
olimpic_medal=bull.DataFrame({'country_name':["cameroon","belgium","USA"], 'gold':[5,6,7], 'silver':[67,45,234], 'bronze':[4444444444,77777777,2222222]})

In [51]:
olimpic_medal.head()
olimpic_medal[['country_name','gold','silver','bronze']]

  country_name  gold  silver      bronze
0     cameroon     5      67  4444444444
1      belgium     6      45    77777777
2          USA     7     234     2222222

In [63]:
olimpic_medal[olimpic_medal.gold>4 ].mean()

bronze    1.508148e+09
gold      6.000000e+00
silver    1.153333e+02
dtype: float64

In [ ]:
'''from sklearn.datasets import load_boston
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LinearRegression
housing_data = datasets.load_boston()
linear_regression_model = LinearRegression()
linear_regression_model.fit(housing_data.data, housing_data.target)
predictions = linear_regression_model.predict(housing_data.data)
boston = load_boston()
print(boston.data.shape)'''

import numpy as np
X = np.array([[-1, -1], [-2, -1], [-3, -2],[1, 1],  [2, 1], [3, 2],[4,3]])
Y = np.array([1, 1,1, 2, 2, 2, 3])
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X, Y)
GaussianNB()
print(clf.predict([[-0.8, -1]]))

from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm

iri = datasets.load_iris()
iri.data.shape, iris.target.shape
((150, 4), (150,))

In [ ]:
import matplotlib.pyplot as plt
year=[1987,1993,1999,2010,2012]
pop=[2.787,3.2423,5.656,8.88,9.00]
plt.plot(year,pop)
plt.show()